@page "/details"

<div id="content">

    <h1>Welcome to the CBC ToDo Manager</h1>
    <h4>Interview project</h4>
    <h5>October 13th, 2024</h5>
    <p>Hi. This website was built using .NET, Blazor server, SqlLite, Github Actions and Azure.  </p>
    <p>There are few helper packages utilized and JWT is the authentication method used</p>
    <p>GitHub link <a href="#">here</a></p>
    <p></p>
    <h2>Browser Compatibility</h2>
    <p>This template has been tested in the following browsers:</p>
    <ul>
        <li>Internet Explorer </li>
        <li>FireFox</li>
        <li>Google Chrome</li>
    </ul>
</div>


@code {

}
